* {
  box-sizing: border-box;
}
.nav-header {
  height: 44px;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 999;
}
.nav-header .max-box {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  line-height: 44px;
  text-align: justify;
}
.nav-header .max-box a {
  font-size: 14px;
  color: #fff;
  display: inline-block;
  font-weight: 100;
}
.nav-header .max-box a:hover {
  color: #ccc;
}
.nav-header .max-box .logo {
  background: url(../images/logo.png) no-repeat;
  background-position: center 10px;
  background-size: 20px;
}
.nav-header .max-box .sou {
  background: url(../images/sou.png) no-repeat;
  background-position: 0 15px;
  background-size: 16px;
}
.nav-header .max-box .shop {
  background: url(../images/shop.png) no-repeat;
  background-position: center 13px;
  background-size: 20px;
}
.nav-header .max-box:after {
  display: inline-block;
  width: 100%;
  content: '';
  height: 0;
  font-size: 0;
  line-height: 0;
}
.nav-header .min-box {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-header .min-box {
    height: 44px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 44px;
    display: block;
    max-width: 768px;
    margin: 0 auto;
    text-align: justify;
    font-size: 11px;
  }
  .nav-header .min-box .heng {
    background: url(../images/heng.png) no-repeat;
    background-size: 20px;
    background-position: center 15px;
    cursor: pointer;
    width: 44px;
  }
  .nav-header .min-box div {
    display: inline-block;
  }
  .nav-header .min-box .logo {
    background: url(../images/logo.png) no-repeat;
    background-size: 20px;
    background-position: center 10px;
    cursor: pointer;
    width: 44px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .nav-header .min-box .shop {
    background: url(../images/shop.png) no-repeat;
    background-size: 20px;
    background-position: center 14px;
    cursor: pointer;
    width: 44px;
  }
  .nav-header .min-box:after {
    display: inline-block;
    width: 100%;
    content: '';
    height: 0;
    font-size: 0;
    line-height: 0;
  }
  .nav-header .max-box {
    overflow: hidden;
    background: #000;
    height: 0;
    padding: 0 44px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .nav-header .max-box a {
    display: block;
    border-bottom: 1px solid #333;
  }
  .nav-header .max-box a:nth-of-type(1) {
    display: none;
  }
  .nav-header .max-box a:nth-last-of-type(1) {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-header .max-box {
    display: block!important;
  }
}
/*轮播*/
@media screen and (max-width: 768px) {
  .banner-box {
    min-height: 370px;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .banner-box .lunbo a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner-box .zybtn {
    width: 100%;
    height: 128px;
    position: absolute;
    top: 50%;
    margin-top: -64px;
    padding: 0 15px;
    display: none;
  }
  .banner-box .zybtn li {
    width: 67px;
    height: 128px;
    font-size: 80px;
    color: #666;
    line-height: 128px;
    text-align: center;
    cursor: pointer;
  }
  .banner-box .zybtn .left {
    background-size: 67px ;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    opacity: 0.5;
  }
  .banner-box .zybtn .right {
    background-size: 67px ;
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    opacity: 0.5;
  }
  .banner-box .btn {
    width: 132px;
    height: auto;
    line-height: 10px;
    position: absolute;
    left: 50%;
    margin-left: -56px;
    bottom: 20px;
  }
  .banner-box .btn li {
    margin: 0 10px;
    width: 8px;
    height: 8px;
    float: left;
    border-radius: 50%;
    background: #999;
  }
  .banner-box .btn li:hover {
    background: #666;
  }
  .banner-box .btn li.add {
    background: #fff;
    border: 1px solid #08c;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 768px) {
  .banner-box {
    height: 650px;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .banner-box .lunbo a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner-box .zybtn {
    width: 100%;
    height: 128px;
    position: absolute;
    top: 50%;
    margin-top: -64px;
    padding: 0 15px;
    display: none;
  }
  .banner-box .zybtn li {
    width: 67px;
    height: 128px;
    font-size: 80px;
    color: #666;
    line-height: 128px;
    text-align: center;
    cursor: pointer;
  }
  .banner-box .zybtn .left {
    background-size: 67px ;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    opacity: 0.5;
  }
  .banner-box .zybtn .right {
    background-size: 67px ;
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    opacity: 0.5;
  }
  .banner-box .btn {
    width: 132px;
    height: auto;
    line-height: 10px;
    position: absolute;
    left: 50%;
    margin-left: -56px;
    bottom: 20px;
  }
  .banner-box .btn li {
    margin: 0 10px;
    width: 8px;
    height: 8px;
    float: left;
    border-radius: 50%;
    background: #999;
  }
  .banner-box .btn li:hover {
    background: #666;
  }
  .banner-box .btn li.add {
    background: #fff;
    border: 1px solid #08c;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
  }
  .banner-box:hover .zybtn {
    display: block;
    color: #ccc;
  }
}
@media screen and (max-width: 768px) {
  .shange {
    height: 204px;
  }
  .shange .row {
    height: 100%;
  }
  .shange .col-lg-3 {
    height: 100%;
    padding: 0;
  }
  .shange .col-lg-3 a {
    display: block;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-bottom: 2px solid #fff;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .shange {
    height: 204px;
  }
  .shange .row {
    height: 100%;
  }
  .shange .col-lg-3 {
    height: 100%;
    padding: 0;
    border-right: 2px solid #fff;
  }
  .shange .col-lg-3 a {
    display: block;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-bottom: 2px solid #fff;
  }
}
@media screen and (min-width: 1000px) {
  .shange {
    height: 204px;
  }
  .shange .row {
    height: 100%;
  }
  .shange .col-lg-3 {
    height: 100%;
    padding: 0;
  }
  .shange .col-lg-3 a {
    display: block;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-bottom: 2px solid #fff;
  }
}
.footer {
  font-size: 11px;
  line-height: 1.66667;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #666;
  overflow: hidden;
  position: relative;
}
.footer .footer-nei {
  margin: 0 auto;
  padding: 0 22px;
  max-width: 980px;
  overflow: hidden;
}
.footer .footer-nei .footer-top {
  font-size: 10px;
  line-height: 1.66667;
  font-weight: 400;
  padding-top: 30px;
  overflow: hidden;
}
.footer .footer-nei .footer-top .column {
  width: 20%;
  float: left;
}
.footer .footer-nei .footer-top .column .sq {
  margin-top: 30px;
}
.footer .footer-nei .footer-top .column h3 {
  font-weight: 600;
  color: #666;
}
.footer .footer-nei .footer-top .column .column-zi {
  margin-right: 20px;
}
.footer .footer-nei .footer-top .column .column-zi a {
  color: #666;
  font-size: 11px;
}
@media screen and (min-width: 768px) {
  .footer .column-zi {
    display: block!important;
  }
}
@media screen and (max-width: 767px) {
  .footer .column {
    width: 100%!important;
  }
  .footer .column h3 {
    line-height: 2.9;
    cursor: pointer;
    border-bottom: 1px solid #e3e3e3;
  }
  .footer .column h3:after {
    content: '+';
    float: right;
  }
  .footer .column a {
    padding: 0 14px;
    display: block;
    line-height: 2.9;
  }
  .footer .column a:hover {
    color: #000;
    text-decoration: underline;
  }
  .footer .column .column-zi {
    display: none;
  }
  .footer .column .sq {
    margin-top: 0!important;
  }
}
.footer .footer-middle {
  color: #999;
  padding: 20px 0 24px;
}
.footer .footer-middle a:hover {
  color: #000;
  text-decoration: underline;
}
.footer .footer-middle .footer-middle1 {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 6px;
  padding-bottom: 5px;
}
.footer .footer-middle .footer-middle1 a {
  color: #08c;
}
.footer .footer-middle .footer-middle2 {
  overflow: hidden;
}
.footer .footer-middle .footer-middle2 .zi1 {
  margin-right: 26px;
  float: left;
}
.footer .footer-middle .footer-middle2 .zi2 {
  margin-right: 26px;
  float: left;
}
.footer .footer-middle .footer-middle2 .zi2 a {
  border-right: 1px solid #d6d6d6;
  padding-right: 5px;
  padding-left: 4px;
  font-size: 9px;
  color: #666;
}
.footer .footer-middle .footer-middle2 .zi2 a:nth-last-of-type(1) {
  border-right: 0;
}
.footer .footer-middle .footer-middle2 .zi3 {
  float: right;
}
.footer .footer-middle .footer-middle2 .zi3 span {
  background-repeat: no-repeat;
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../images/16.png");
  cursor: pointer;
  float: left;
  margin-top: 1px;
  padding-right: 5px;
}
.footer .footer-middle .footer-middle2 .zi3 a {
  font-size: 11px;
  line-height: 23px;
  color: #666;
  margin-left: 4px;
}
@media screen and (max-width: 767px) {
  .footer .footer-middle .zi3 {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer .footer-middle .footer-middle1 {
    border-bottom: 0;
  }
}
